     <!-- JS Section -->

    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- <scrip src="/Scripts/app.js"></scrip> -->
  </body>
</html>