<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../partials/header.ejs %>
</head>
<body>
    <%- include ../partials/main_nav.ejs %>
    <main>
        <h1>Sorry, we can't accept your message</h1>
        <p>please try again, or reach me by phone</p>
    </main>
    <%- include ../partials/bottom_nav.ejs %>
    <%- include ../partials/footer.ejs %>
</body>
</html>