<main class="container">
  <div class="jumbotron">
    <div>
      <h1><%= title%></h1>
      <h6>
        Coding is my interest. When I'm coding, it really cleans up my mind
      </h6>
    </div>
    <div class="profileContainer">
      <div class="profileLeft">
        <img id="myPhoto" src="Assets/images/icon.jpg" alt="my photo" />
        <div class="myInfo">
          <h2>Ka Wai Wong</h2>
          <h3>kw.wong0923@gmail.com</h3>
          <h3>(647)-869-5717</h3>
        </div>
      </div>
      <div class="profileRight">
        <h2>Meet Ka Wai</h2>
        <p>
          My name is Ka Wai Wong, and I'm from Hong Kong. I'm studying Software
          Engineering Technician at Centennial College.
        </p>
        <p>
          I have 8 years experience of Audio Engineering. I'm looking an
          opportunity to make a career change to programming
        </p>
        <h4>My favorite programming language</h4>
        <ul>
          <li>C#</li>
          <li>Java</li>
        </ul>
        <a
          href="https://drive.google.com/file/d/1Unx44Q9-_9rbziT05KZrl-a97j9b-8aJ/view?usp=sharing"
          >Resume</a
        >
      </div>
    </div>
  </div>
</main>
