<main class="container">
  <div class="jumbotron">
    <h1><%= title%></h1>
  </div>
  <div class="projectsBox">
    <img src="Assets/images/calculator.png" alt="" class="projectPic" />
    <div class="projectInfo">
      <h2>Calculator</h2>
      <p>A calculator was written by C#</p>
    </div>
  </div>
  <div class="projectsBox">
    <img src="Assets/images/property.png" alt="" class="projectPic" />
    <div class="projectInfo">
      <h2>Virtual property company's website</h2>
      <p>The website was written by HTML and CSS</p>
      <P
        >Project Line:
        <a
          href="http://studentweb.cencol.ca/kwong217/comp213/project/index.html"
          >Proper Property</a
        ></P
      >
    </div>
  </div>
  <div class="projectsBox">
    <img src="Assets/images/audioSynthesizer.png" alt="" class="projectPic" />
    <div class="projectInfo">
      <h2>Audio Synthesizer(Working On)</h2>
      <p>I'm trying to create a simple audio synthesizer by using C#</p>
    </div>
  </div>
</main>
