<main class="container">
  <div class="jumbotron">
    <h1><%= title%></h1>
    <div class="servicesBox">
      <ul>
        <li><i class="fa-sharp fa-solid fa-c"></i>C# Programming</li>
        <li><i class="fa-brands fa-java"></i>Java Programming</li>
        <li><i class="fa-solid fa-file-code"></i>website Font End</li>
        <li><i class="fa-sharp fa-solid fa-server"></i>Website Back End</li>
        <li><i class="fa-solid fa-database"></i>SQL Database</li>
      </ul>
    </div>
  </div>
</main>
